		@media only screen and (max-width: 1000px){
					.header_bottom {
			background-color: #ffffff;
			}
										}
		@media only screen and (min-width: 480px) and (max-width: 768px){

					section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
			}
						}
		@media only screen and (max-width: 768px){
		
					h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 60px; 			line-height: 60px; 						}
		
		
		
		
		
		
		
		
		
					.title.title_size_small h1 {
			font-size: 62px; 			line-height: 65px; 			}
		
		
		
		}
		@media only screen and (max-width: 600px) {
		
					h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 60px; 			line-height: 60px; 						}
		
					h3, h3 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title {
			font-size: 43px; 			line-height: 46px; 						}
		
		
		
		
		
		
					.title.title_size_small h1 {
			font-size: 45px; 			line-height: 50px; 			}
		
		
				}
		@media only screen and (max-width: 480px){

					section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
			}
		
				
				}
		
		
	